Repository RamonASM/fulfillment-ops-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

Fix portal port in orders E2E test for CI
  e2e/orders.spec.ts
Due: prettier --write

Add comprehensive support dashboard with help documentation
  apps/api/scripts/seed-help-articles.ts
  apps/portal/src/App.tsx
  apps/portal/src/components/PortalLayout.tsx
  apps/portal/src/pages/Help.tsx
  apps/web/src/App.tsx
  apps/web/src/components/layouts/MainLayout.tsx
  apps/web/src/pages/Help.tsx
  packages/shared/src/components/help/ArticleRenderer.tsx
  packages/shared/src/components/help/HelpDashboard.tsx
  packages/shared/src/components/help/HelpFeedback.tsx
  packages/shared/src/components/help/ProgressTracker.tsx
  packages/shared/src/components/help/TableOfContents.tsx
  packages/shared/src/components/help/VideoEmbed.tsx
  packages/shared/src/components/help/index.ts
  packages/shared/src/index.ts
Due: prettier --write

Fix TypeScript JSX configuration for shared package
  packages/shared/tsconfig.json
Due: prettier --write

fix: remove help component exports from shared package for API compatibility
  packages/shared/src/index.ts
Due: prettier --write

CRITICAL: Security & Performance Fixes for Production Deployment
  apps/api/src/index.ts
  apps/api/src/lib/prisma.ts
  deploy/docker-compose.production.yml
Due: prettier --write

Add client health and notification preferences routes
  apps/api/src/routes/client-health.routes.ts
  apps/api/src/routes/notification-preferences.routes.ts
  apps/api/src/services/client-health.service.ts
  apps/api/src/services/notification-preference.service.ts
Due: prettier --write

fix: Pass DATABASE_URL explicitly to Python importer
  apps/api/src/routes/import.routes.ts
  apps/python-importer/database.py
  apps/python-importer/main.py
  apps/python-importer/requirements.txt
Due: prettier --write

fix: Add missing detectFileTypeWithConfidence export
  apps/api/src/services/import.service.ts
Due: prettier --write

fix: Rename metadata to product_metadata in Product model
  apps/python-importer/models.py
Due: none

fix: Access database.engine after initialization in Python importer
  apps/python-importer/main.py
Due: none

fix: Ensure productId column mapping in order imports
  apps/python-importer/main.py
Due: none

fix: Wave 1 - Fix critical import bugs (duplicate columns, undefined variable, metadata)
  apps/python-importer/main.py
Due: none

fix: Wave 2 - Add validation and logging to prevent data loss
  apps/python-importer/main.py
Due: none

fix: Wave 3 - Document duplicate notification point mappings
  apps/python-importer/main.py
Due: none

Wave 4: Fix critical mapping correction bug
  apps/python-importer/main.py
Due: none

Wave 5: Fix Node.js error capture - save stderr on exit code != 0
  apps/api/src/routes/import.routes.ts
Due: prettier --write

Wave 6: Fix Python exit code - exit(1) when errors exist
  apps/python-importer/main.py
Due: none

Wave 7: Fix column name mismatch - use snake_case after df.reindex()
  apps/python-importer/main.py
Due: none

Wave 8: Complete import system fix (4 critical bugs)
  apps/api/src/routes/import.routes.ts
  apps/python-importer/main.py
  apps/web/src/components/ImportModal.tsx
  apps/web/src/pages/ClientDetail.tsx
  apps/web/src/pages/Imports.tsx
Due: prettier --write

Wave 9: Comprehensive import system fix (Codex + Gemini audit resolution)
  Dockerfile
  apps/api/src/routes/import.routes.ts
  apps/api/src/services/analytics-facade.service.ts
  apps/api/src/services/ml-client.service.ts
  apps/api/src/services/usage.service.ts
  apps/python-importer/main.py
  apps/python-importer/requirements.txt
Due: prettier --write

Fix critical import path and SQLAlchemy attribute issues
  apps/api/src/routes/import.routes.ts
  apps/python-importer/main.py
  apps/python-importer/models.py
Due: prettier --write

Add DS Analytics schema fields
  apps/api/prisma/schema.prisma
Due: none

Fix build: simplify path resolution and add dependencies
  apps/api/package.json
  apps/api/src/routes/import.routes.ts
Due: prettier --write

Add AI-powered column mapping service
  apps/api/src/lib/encryption.ts
  apps/api/src/services/ai-mapping.service.ts
Due: prettier --write

Add ImportTypeSelector component
  apps/web/src/components/ui/ImportTypeSelector.tsx
Due: prettier --write

Wave 10: Fix CI/CD and Python environment issues
  apps/api/src/routes/import.routes.ts
  apps/ds-analytics/package.json
  apps/ml-analytics/package.json
  apps/python-importer/package.json
  deploy/ecosystem.config.js
  deploy/scripts/deploy.sh
  package-lock.json
  packages/ui/package.json
Due: eslint --fix --max-warnings 0, prettier --write

Add ImportDetectionResult type to shared package
  packages/shared/src/index.ts
Due: prettier --write

Fix TypeScript errors in web components
  apps/web/src/components/ImportModal.tsx
  apps/web/src/components/ui/ImportTypeSelector.tsx
Due: prettier --write

Fix deploy workflow lint step to continue on error
  .github/workflows/deploy.yml
Due: prettier --write

Regenerate package-lock.json with cross-platform optional deps
  package-lock.json
Due: prettier --write

Fix PWA workbox file size limit for large bundles
  apps/web/vite.config.ts
Due: prettier --write

Fix deploy workflow: add Prisma generate before typecheck
  .github/workflows/deploy.yml
Due: prettier --write

Fix import system critical bugs (Wave 11)
  apps/api/src/routes/import.routes.ts
  apps/python-importer/main.py
Due: prettier --write

Fix import system root cause (Wave 12)
  apps/api/src/routes/import.routes.ts
  apps/python-importer/main.py
  apps/web/src/components/ImportModal.tsx
  deploy/ecosystem.config.js
Due: eslint --fix --max-warnings 0, prettier --write

Fix CI/CD pipeline failures (Wave 13)
  .github/workflows/deploy.yml
  apps/api/src/__tests__/benchmarking.service.test.ts
  apps/api/src/__tests__/integration/ml-service.integration.test.ts
  apps/api/src/__tests__/integration/portal-analytics.integration.test.ts
  apps/api/src/__tests__/portal-analytics.routes.test.ts
  apps/api/src/__tests__/shipment-timing.test.ts
  tests/docker-integration.test.ts
Due: prettier --write

Fix CI TypeScript errors in test files
  apps/api/src/__tests__/integration/ml-service.integration.test.ts
  apps/api/src/__tests__/integration/portal-analytics.integration.test.ts
  apps/api/src/__tests__/shipment-timing.test.ts
  tests/docker-integration.test.ts
Due: prettier --write

Fix CI: Build API before running E2E tests
  .github/workflows/deploy.yml
Due: prettier --write

Format Prisma schema to pass CI validation
  apps/api/prisma/schema.prisma
Due: none

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml,ts,tsx}
